{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Rahimjon Komiljonov, a passionate Python developer and Computer Engineering student at Gachon University in Seoul, South Korea. Welcome to my blog, where I share my journey in tech, coding projects, and insights into software development!

I specialize in building robust and user-friendly web applications, with expertise in Python, Flask, and database management. This blog itself is a project I built using Flask, Bootstrap, and SQLAlchemy, showcasing my skills in full-stack development. Beyond web development, I’m skilled in API development, object-oriented programming, and process automation, with a strong foundation in software engineering principles.

Some of my proudest accomplishments include developing a Flight Deals project, a Password Manager app, and a Weather Info Telegram bot, among others. I’m fluent in English, Korean, and Russian, and I love collaborating on projects that solve real-world problems. When I’m not coding, you might find me exploring new technologies, working on my Cookie Clicker bot, or sharing my experiences here on this blog.

Feel free to explore my posts, connect with me, or reach out via the contact form—I’d love to hear from you!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
